@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary: #135bec;
  
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;
  
    --color-surface-light: #ffffff;
    --color-surface-dark: #1e293b;
  
    /* Font family */
    --font-display: "Inter", sans-serif;
  
    /* Border radius */
    --radius-sm: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
  }
  